<div class="container mx-auto p-6 mt-20 max-w-lg">
  <div class="bg-white shadow-lg rounded-lg p-8">
    <div class="mx-auto max-w-lg">
      <h1 class="font-bold text-4xl text-center mb-8">Editar Stock</h1>

      <%= render "form", admin_stock: @admin_stock %>
      <%= link_to "Regresar", admin_product_stocks_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    </div>
  </div>
</div>

